#navbar{
    background-color: white;
}

#logistic1{
    height:495px;
}

#layanankami{
    margin-top: 25px;
}

#testimoni img{
    height: 150px;
}

.card-body{
    height: 200px;
}

